// 这页懒得自己重新做了，想重新做的话，属于基本样式，没什么难度。
// 此处无注释
.satic-area {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/准备好了.jpg);
  background-size: 100vw 100vh;
  text-align: center;
}

.satic-area span{
  color: #2b374a;
  position: absolute;
  font-size: 0.5rem;
  top: 25%;
  left: 0
}
.newpage{
  width: 5rem;
  height:2rem;
  position: absolute;
  top: 35%;
  left: 50%;
  margin-left: -2rem;
  overflow: hidden;
  #btn1{
    width: 6rem;
    height:2rem;
  }
}
